amqp-jms-client {
   com.sun.security.auth.module.Krb5LoginModule required
       isInitiator=false
       storeKey=true
       useKeyTab=true
       keyTab="/opt/amq-broker/etc/artemis.keytab"
       principal="amqp/artemis.demo.artemis.com@DEMO.ARTEMIS.COM"
       debug=true;

};

activemq {
  org.apache.activemq.artemis.spi.core.security.jaas.Krb5LoginModule required
    ;

  org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule required
       debug=true
       reload=true
       org.apache.activemq.jaas.properties.user="artemis-users.properties"
       org.apache.activemq.jaas.properties.role="artemis-roles.properties";
};